<form action="/form-upload" method="post" enctype="multipart/form-data">
    <input id="name" name="name" type="text" placeholder="name">
    <input id="email" name="email" type="text" placeholder="email">
    <input id="photo" name="photo" type="file" placeholder="photo">
    <button type="submit">submit</button>
</form>

